.formContainer > h1 {
    text-align: center;
    font-size: 3vmax;
    color: #364B58;
}

.emailInput input {
    margin: 0 0 2% 39%;
    padding: 1%;
    width: 20%;
    font-size: 20px;
    outline: none;
}

.passwordInput input {
    margin: 0 0 2% 39%;
    padding: 1%;
    width: 20%;
    font-size: 20px;
    outline: none;
}

.submit {
    padding: 5px;
    border: 1px solid #8a98a1;
    border-radius: 5px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #364B58;
    margin-left: 41%;
    padding: 1%;
    width: 18%;
}